# Firebase ve hassas dosyalar
android/local.properties
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart
firebase.json

# App Store/Play Store için özel dosyalar
*.keystore
*.jks
*.p12
*.pem
*.mobileprovision
*.xcarchive
*.der
*.crt
*.key

# Kişisel ve makineye özel dosyalar
*.iml
*.ipr
*.iws
.idea/
.vscode/
.metadata
.cursor

# Derleme ve cache dosyaları
build/
.dart_tool/
.pub/
.pub-cache/

# Diğer
test_coverage/
coverage/
*.log
*.tmp
*.bak

# Miscellaneous
*.class
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.flutter-plugins
.flutter-plugins-dependencies
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release